<%= form_for @event do |f| %>
<div>
<%= f.label :title, "What's your event title?" %>
<%= f.text_field :title %>
 </div>
 
<br>

<div>
<%= f.label :location, "Where ?" %>
<%= f.text_field :location %>
 </div>

<br>
<div>
<%= f.label  :date %>
<%= f.date_field :date %>
</div>

<br>

 <div>
<%= f.label :description, "Event Description" %>
<%= f.text_area :description %>
 </div>
 
<br>

<%= f.submit %>
<% end %>

