<div class="event">
<h3>Event details: </h3>
<hr>
<h4> Title: </h4>
<p><%= @event.title %></p>

<h4> Location: </h4>
<p><%= @event.location %></p>

<h4> Date:</h4>
<p><%= @event.date %></p>

<h4> Description: </h4>
<p><%= @event.description %></p>

<a href="./<%= @event.id %>/edit" class="alink">Edit<i class="tiny material-icons">edit</i> |</a>

<%= link_to 'Delete' , event_path(@event),:class =>"alink", method: :delete %> <i class="tiny material-icons icon">delete</i>
</div>
<div class="send-form">
<h4> Send invitation:</h4>

<%= render partial: 'invitation_form' %>
</div>

<div class="invitees">
 
<h4><%= pluralize(@event.invitations.count,"invitee") %>: </h4> 
<hr>
<ul>
<% @event.invitations.each do |invitation| %>
<li>
 <p><%= invitation.name %> <br> <%= invitation.email %> </p> 
</li>
<% end %>
</ul>
</div>
