<!DOCTYPE html>
<html>
  <head>
    <title>CardlyApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Courgette|Sacramento|Ubuntu" rel="stylesheet">  
      <link href="https://fonts.googleapis.com/css?family=Yesteryear" rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<header >

  <nav>
   <div >
  <ul  class="left hide-on-med-and-down">
  <li><%= link_to 'Home', root_path , class:"color" %> </li>
  <li><%= link_to 'Create Invitation', new_event_path , class:"color"%> </li>
  </ul>
        

  <% if user_signed_in? %>

      <ul class="left hide-on-med-and-down">
    <%= link_to "Profile", user_path(current_user) , class:"color" %>
    </ul>

    <ul class="right hide-on-med-and-down">
    <%= link_to "Log_Out", destroy_user_session_path, method: :delete , class:"color" %>
    </ul>

    <% else %>
   <ul  class="right hide-on-med-and-down">
   <li><%= link_to "Log_in", new_user_session_path , class:"color" %></li>
   <li><%= link_to "Join", new_user_registration_path , class:"color" %></li>
  </ul>
  <% end%>
  </div>
  </nav>

</header>

  <body>

  
    <%= yield %>
  </body>
  <footer>  
 &copy; Noura Alhadlaq &hearts; Halimah Alshahrani 2018

  </footer>
</html>
